.bg-gradient-to-b{
    background-image: linear-gradient(to bottom, var(--tw-gradient-stops));
  }
  
  .from-lightSlateBlue{
    --tw-gradient-from: hsl(252, 100%, 67%) var(--tw-gradient-from-position);
    --tw-gradient-to: hsl(252 100% 67% / 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  }
  
  .from-violetBlue{
    --tw-gradient-from: hsla(256, 72%, 46%, 1) var(--tw-gradient-from-position);
    --tw-gradient-to: hsla(256, 72%, 46%, 0) var(--tw-gradient-to-position);
    --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  }
  .to-lightRoyalBlue{
    --tw-gradient-to: hsl(241, 81%, 54%) var(--tw-gradient-to-position);
  }
  
  .to-persianBlue{
    --tw-gradient-to: hsla(241, 72%, 46%, 0) var(--tw-gradient-to-position);
  }  